In [38]:
import pandas as pd
import re
import random as rd

pd.set_option('display.max_colwidth', None)

jp = pd.read_csv('jeopardy.csv')
print(jp.head())
jp.columns = [col.strip() for col in jp.columns]
jp.Value = jp.Value.replace('[\$,]', '', regex=True)
jp.Value = pd.to_numeric(jp.Value.replace('None', value=None, regex=True))
jp.Value = jp.fillna(value=jp.Value.max())
jp['Air Date'] = pd.to_datetime(jp['Air Date'])

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

In [25]:
lst = ['King', 'England']
lambda_func = lambda x: all(word in x.Question for word in lst)


def find_seq_col(x, seq, col):
  return all(word.lower() in re.split(r'[\s\']', x[col].lower()) for word in seq)


# print(jp[jp.apply(lambda_func, axis=1)])
print(jp[jp.apply(find_seq_col, axis=1, seq=lst, col='Question')].Question)

4953                             Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337               In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                             This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
13454                                                It's the number that followed the last king of England named William
14912                   This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
                                                               ...
200369    8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
201168                                           Popular Saint-Exupery character waiting around to become king of England
208742                               Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                         In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021                   His nickname was "Bertie", but he used this name & number when he became king of England in 1901
Name: Question, Length: 95, dtype: object

In [29]:
quest_df = jp[jp.apply(find_seq_col, axis=1, seq=lst, col='Question')]
mean_quest = quest_df.Value.mean()
print(mean_quest)

3810.221052631579

In [30]:
def uniq_answ_cnt(df, col):
  return df[col].nunique()


print(uniq_answ_cnt(jp, 'Answer'))
print(uniq_answ_cnt(quest_df, 'Answer'))

print(quest_df.Answer.value_counts())

88268
73
William the Conqueror        4
Henry VIII                   3
George I                     3
Richard the Lionhearted      3
Nassau                       2
                            ..
Alfred the Great             1
Catherine Parr               1
The Magna Carta              1
George Frideric Handel       1
The Prince and the Pauper    1
Name: Answer, Length: 73, dtype: int64

In [32]:
topic = ['Computer']

jp90 = jp[jp['Air Date'] < '2000-01-01'] 
jp00 = jp[jp['Air Date'] >= '2000-01-01'] 
# print(jp00['Question'].head())

print(len(jp90[jp90.apply(find_seq_col, axis=1, seq=topic, col='Question')].Question))
print(len(jp00[jp00.apply(find_seq_col, axis=1, seq=topic, col='Question')].Question))

72
252

In [33]:
cat = ['Literature']

jp_single = jp[jp.Round == 'Jeopardy!']
jp_double = jp[jp.Round == 'Double Jeopardy!']
print(len(jp_single[jp_single.apply(find_seq_col, axis=1, seq=cat, col='Category')].Question))
print(len(jp_double[jp_double.apply(find_seq_col, axis=1, seq=cat, col='Category')].Question))

408
1051

In [48]:
rand_q = rd.randrange(len(jp))
answ = input(jp.Question[rand_q] + '. ')

Bemz sells covers in bright decorator colors for the furniture of this other Swedish company. Ikea

In [49]:
if answ.lower() == jp.Answer[rand_q].lower():
    print(f'You are right. The answer is "{jp.Answer[rand_q]}"')
else:
    print(f'Well, not. The right answer is "{jp.Answer[rand_q]}"')

You are right. The answer is "IKEA"